azure-functions>=1.26.0b3
azurefunctions-extensions-bindings-blob
azure-identity
azure-storage-blob
git+https://github.com/zecloud/azureopenaigptimageclient.git#subdirectory=Image
mcp
pydantic
openai>=2.32.0,<3
requests
