azure-functions>=1.18.0,<2.0.0
git+https://github.com/zecloud/azureopenaigptimageclient.git#subdirectory=Image
git+https://github.com/zecloud/azurefunctionsmcpydantic.git
pydantic>=2.0.0,<3.0.0
requests>=2.31.0,<3.0.0
